{% extends "base.html" %}
{% block body %}
	<div id="bga">
		<img id="bga-next">
		<img id="bga-current">
	</div>

	<div class="fullpage" id="landing">
		<h1>{{ site.name }}</h1>
		<img src="assets/img/tina_by_57.png" id="key-art" title="Art by @57_dayo">
		<nav>
			<a href="blog">Blog</a>
			<a href="https://twitter.com/Tina_otoge">Twitter</a>
			<a href="https://github.com/Tina-otoge">GitHub</a>
			<a href="{{ page }}#about">About me</a>
		</nav>
	</div>

	<div id="about">
		<p>Hewwo</p>
	</div>

	<script type="text/python">
		from browser import document, timer

		TIME_PER_LOOP = 5000
		TRANSITION_TIME = 1000
		BGA_COUNT = 13
		BGA_PATH_FMT = 'assets/img/bga/lincle_generic_{}.jpg'
		BGA_EL_PARENT = document['bga']
		BGA_EL_CURRENT = document['bga-current']
		BGA_EL_NEXT = document['bga-next']
		current = 1

		def set_bga(element, index):
			element['src'] = BGA_PATH_FMT.format(index)

		def rotate_bga():
			set_bga(BGA_EL_CURRENT, current)
			BGA_EL_CURRENT.classList.remove('fade')

		def loop_bga():
			global current
			current += 1
			if current > BGA_COUNT:
				current = 1
			set_bga(BGA_EL_NEXT, current)
			BGA_EL_CURRENT.classList.add('fade')
			timer.set_timeout(rotate_bga, TRANSITION_TIME)
			timer.set_timeout(loop_bga, TIME_PER_LOOP)
		loop_bga()
	</script>
{% endblock %}
