{% extends "base.html" %}

{% block head %}
{{ super() }}
<link href="arcade/style.css" rel="stylesheet">
{% endblock %}

{% block body %}

<h1>
    Teapot Arcade!
    <br><small>Tina + Compote = Teapot</small>
</h1>

<p id="back">
    <a href=".">&lt; Go back to my site</a>
</p>

<div id="setups">
{% for id, setup in data.teapot.setups.items() %}
    <div class="setup">
        <h2 id="{{ id }}">
            {{ setup.name }}
            <a href="#{{ id }}" class="permalink emoji">🔗</a>
        </h2>

        {% if setup.photos %}
        <div class="photos">
            {% for photo in setup.photos %}
            <a href="{{ photo }}" class="photo" target="_blank">
                <img src="{{ photo }}">
            </a>
            {% endfor %}
        </div>
        {% endif %}

        {% if setup.permanent == false %}
        <p>🔧 This setup is not permanently installed. So it does not have dedicated display and audio items.</p>
        {% endif %}

        {% set items = {'displays': setup.displays, 'audio': setup.audio} %}

        {% if setup.shared %}
        <p>
            🤝 This setup is shared for multiple games. Controllers are easily swappable and scripts are configured to run the correct game by looking at which controller is plugged in!
        </p>
        {% endif %}

        {% if setup.cabinet %}
        <p>This is an actual arcade cabinet.</p>
        {% set item= setup.cabinet %}
        {% include "_teapot_item.html" %}
        {% endif %}

        <div class="sections">
            {% if setup.controllers %}
            <div class="controllers">
                <h3>Controllers</h3>
                <div class="icon">🎮</div>
                {% for item in setup.controllers %}
                {% include "_teapot_item.html" %}
                {% endfor %}
            </div>
            {% endif %}

            {% if items.displays %}
            <div class="displays">
                <h3>Displays</h3>
                <div class="icon">🖥️</div>
                {% for item in items.displays.values() %}
                {% include "_teapot_item.html" %}
                {% endfor %}
            </div>
            {% endif %}

            {% if items.audio %}
            <div class="audio">
                <h3>Audio</h3>
                <div class="icon">🎵</div>
                {% for name, item in items.audio.items() %}
                <p>{{ name.title() }}:</p>
                {% include "_teapot_item.html" %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}
