:root {
	/* monokai */
	--background: #272822;
	--foreground: #F8F8F2;
	--comment: #75715E;
	--red: #F92672;
	--orange: #FD971F;
	--light-orange: #E69F66;
	--yellow: #E6DB74;
	--green: #A6E22E;
	--blue: #66D9EF;
	--purple: #AE81FF;
}

body {
	margin: 0;
	background: var(--background);
	color: var(--foreground);
	font-family: 'Zen Maru Gothic', sans-serif;
	font-weight: 400;
}

a {
	color: var(--red);
	text-decoration: none;
}

a:hover, a:active {
	color: var(--orange);
	text-decoration: underline;
}

img {
	object-fit: contain;
}

h1 a, h2 a {
	color: inherit;
}
