{% set site = {} %}
{% set _ = site.update({'name': 'Tina.'}) %}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>
			{% block title %}
			{% if title %}
			{{ title }} - {{ site.name }}
			{% else %}
			{{ site.name }}
			{% endif %}
			{% endblock %}
		</title>
		<base href="{{ "."|a }}">
		<link rel="stylesheet" href="{{ BUNDLE_FILE }}?{{ BUNDLE_TIME }}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap">
		<script src="https://cdn.jsdelivr.net/npm/brython@3.10/brython.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/brython@3.10/brython_stdlib.js"></script>
	</head>
	<body onload="brython()">
		{% block body %}
		{% endblock %}
	</body>
</html>
