{% extends "base.html" %}
{% block body %}
	<div id="bga">
		<img src="assets/img/bga/lincle_generic_1.jpg">
	</div>
	<div class="fullpage" id="landing">
		<h1>{{ site.name }}</h1>
		<p class="subtitle">Your friendly weeb techy rhythm games nerd</p>
		<div>
			<img src="assets/img/tina_by_57.png" id="key-art" title="Art by @57_dayo">
		</div>
		<nav>
			<a href="blog">Blog</a>
			<a href="https://twitter.com/Tina_otoge">Twitter</a>
			<a href="https://github.com/Tina-otoge">GitHub</a>
			<a href="#about">About me</a>
		</nav>
	</div>

	<div id="about">
		<div class="container">
			{{ markdown }}
		</div>
	</div>

	<footer id="footer">
		<p>
			Like this site? You can star it
			<a href="https://github.com/Tina-otoge/tina-simp">on GitHub</a>, or
			directly say it to me on Twitter or Discord.
		</p>
		<p>
			You miss my old sites? You can still visit them:
			<a href="https://tina.moe">sunshine (2019)</a>
			| <a href="https://tina.moe/old/blocks">blocks (2018)</a>
			| <a href="https://tina.moe/old/tree">tree (2016)</a>
		</p>
		<p>
			Looking for my server's homepage? It's at <a href="https://laffey.tina.moe">laffey.tina.moe</a>
		</p>
		<p>
			Looking for my memes stash / random saved stuffs? It's at  <a href="https://laffey.tina.moe/~tina/">laffey.tina.moe/~tina/</a>
		</p>
	</footer>

	<script src="scripts/bga.py" type="text/python" async></script>
{% endblock %}
